<input type = "text"
       [value] = "placeHolder"
       (input) = "placeHolder = $any($event.target).value"
>

<p>{{placeHolder}}</p>

<!--OUTRA FORMA COM DIRETIVAS-->
<input type = "text"
       [(ngModel)] = "placepass"
>

<p [style.color] = "color" >{{placepass}}</p>
<!--Style Binding-->

<!--
<input type = "text"
       [value] = "placeHolder"
       (input) = "placeHolder = $any($event.target).value"
>

<p>{{placeHolder}}</p>

 Aqui estamos utilizando o event binding para realizar
 a comunicação do HTML/VIEW/DOM para o nosso component

 neste evento estamos pegando o conteudo do input atribuindo
 a variavel placeHolder e mostrando na tela dentro da tag <p>
 toda vez que o evento de input ocorre ou seja toda vez que é escrito algo
 dentro o input definido. Sendo assim, estabelecemos uma comunicação biDirecional.


-->
