<p [ngClass]="estilo">comp-atributos works!</p>
<button (click)="trocar()">CHANGE</button>
<hr>

<h1 [ngStyle]="{'background':corFundo, 'color':corDaFonte}">CURSO ANGULAR</h1>

<hr>
<h1>Lista de Compras</h1>
<p>Adicione um item</p>
<input type="text" [(ngModel)]="item">
<button (click)="adicionarItemNaLista()">Adicionar</button>
<p>{{item}}</p>

<div>
  <ul>
    <li *ngFor="let elemento of lista"> {{elemento}} </li>
  </ul>
</div>
<hr>

<!--
Por padrão o ng-template não é renderizado diretamente no DOM,
somente é visualizado quando definimos ele como 'true'
-->
<ng-template [ngIf]="isEnableBlock">
  <a href="#">FINALIZAR COMPRA</a>
</ng-template>
<br>
<ng-template [ngIf]="isEnableBlock">
  <a href="#">ADICIONAR AO CARRINHO</a>
</ng-template>
<hr>

<!--
ng-content pega os elementos do pai e permite passar
para seus filhos os mesmo elementos
-->
<ng-content select="h2"></ng-content>
<ng-content select="p"></ng-content>

