<h1>{{title}}</h1>

<!-- 4 MANEIRAS DE SE PASSAR VALORES PARA COMPONENTES -->

                    <!--Interpolação-->
<my-button label = "{{buttonLabel}}"></my-button><!-- ATRIBUIÇÃO DINAMICA-->
<my-button label = "Noticia"></my-button> <!-- ATRIBUIÇÃO DIRETA -->


              <!-- Property binding - MENOS CONVENCIONAL, MAS VÁLIDA-->
<my-button [label] = "buttonLabel"></my-button><!-- ATRIBUIÇÃO DINAMICA-->
<my-button [label] = " 'ADICIONAR A FAVORITOS' "></my-button> <!-- ATRIBUIÇÃO DIRETA -->

            <!--Two way data binding-->
<app-entry-data></app-entry-data>





<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

